@import '../variables.scss';

.blackout {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  > div {
    background-color: #0c0c0c;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    position: relative;

    > button:first-child {
      background: none;
      border: none;
      position: absolute;
      top: 20px;
      right: 20px;

      // temporary
      color: #ccc;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-size: 30px;
    font-weight: 600;
  }

  > a, > p {
    display: inline-block;
    font-size: 14px;
  }

  > p { 
    text-align: center; 
    margin: 0;
  }

  a {
    color: $blue;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  hr { 
    width: 100%;
    border: 1px solid #1d1d1d;
  }

  > input[type='text'], 
  > input[type='password'], 
  > input[type='email'], 
  > input[type='tel'] {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    display: block;
    width: 100%;
  }

  > label {
    font-size: 12px;

    > input[type='checkbox'] {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  > div.error {
    background-color: #9c2b2e;
    color: #fff;
    border: 1px solid #e84e4f;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
  }

  > button {
    background-color: $blue;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    
    &:hover {
      cursor: pointer;
      background-color: $blue-hover;
    }
  }

  > *:nth-child(n+3) {
    margin-top: 15px;
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    width: 200px;

    > button {
      background-color: $blue;
      color: #fff;
      padding: 8px 0;
      border: none;
      border-radius: 4px;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &:hover {
        cursor: pointer;
        background-color: $blue-hover;
      }
    }
  }
}