@import "../variables.scss";

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 50px;

  > aside {
    > button {
      background-color: transparent;
      border: none;
      border-right: 2px solid #1d1d1d;
      width: 100%;
      padding: 10px 0;

      &:hover {
        cursor: pointer;
        background-color: $blue;
      }

      &.active {
        border-right: 4px solid $blue;
      }
    }

    > hr {
      border: none;
      border-top: 1px solid #1d1d1d;
      margin: 10px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  > h3 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  > hr {
    width: 100%;
    max-width: 800px;
    margin: 0;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #1d1d1d;
  }

  > label {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;

    > input[type="text"], > input[type="number"], > textarea {
      background-color: #1d1d1d;
      border: none;
      border-radius: 3px;
      padding: 6px 12px;
      font-size: 14px;
    }

    > input[type="number"] {
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    > textarea {
      resize: none;
    }
  }

  > div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > span:last-child {
      color: #e84e4f;
      font-size: 13px;
      margin-top: 10px;
    }
  }

  button {
    padding: 6px 14px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;

    &:not(:disabled) {
      background-color: $blue;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: $blue-hover;
      }
    }
  }
}

.signout_prompt {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 150px;
    margin-left: -225px;
    margin-top: -75px;
    padding: 30px 40px;
    background-color: #1d1d1d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > span {
      font-size: 15px;
    }

    > div {
      text-align: right;

      > button {
        background-color: $blue;
        color: #fff;
        padding: 6px 16px;
        border: none;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 500;
        
        &:hover {
          cursor: pointer;
          background-color: $blue-hover;
        }
      }
    }
  }
}